<%- include('partials/header'); -%>
<h1>
    Hello!
</h1>
<p><%= startingContent %></p>
<% console.log(postsArray) %>
<% postsArray.forEach(function(post){ %>
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
<% }) %>
<%- include('partials/footer'); -%>