<%- include('partials/header'); -%>
<h1>
    Welcome to the world's journal!
</h1>
<p><%= startingContent %></p>
<% console.log(postsArray) %>
<% postsArray.forEach(function(post){ %>
    <h2><%= post.title %></h2>
    <p><%= post.content.substring(0, 100) + "..." %> 
        <a href="/post/<%= post.title %>">Read more</a>
    </p>
<% }) %>
<%- include('partials/footer'); -%>

